{% extends "core/base.html" %}

{% block title %}Deportes{%  endblock %}

<!-- Contenido -->
{% block content %}
    
    <div class="container">
        <!-- SHOWCASE -->
        <header class="showcaseDepor">
            <h2>¡ARGENTINA CAMPEÓN DEL MUNDO!</h2>
            <p>La selección de Argentina logró su tercer título mundial al imponerse a Francia en la tanda de penaltis (4-2) tras acabar la prórroga con un empate 3-3. Argentina es el campeón.</p>
            <a href="#" class="btn">Leer Más <i class="fas fa-angle-double-right"></i></a>
        </header>

        <!-- Noticias -->
        <div class="noticias">
            <div>
                <img src="../static/core/img/deportes/noti1.jpg" alt="Noticia 1">
                <h3>‘Fue un partido sufrido’, dice Carlo Ancelotti, técnico del Real Madrid tras clasificar a la final de la Supercopa de España</h3>
                <p>El técnico del Real Madrid, Carlo Ancelotti, se mostró contento por estar en la final de la Supercopa de España, pero admitió tras ganar 4-3 en los penales (1-1 en el partido) al Valencia este miércoles en la semifinal que fue “un partido sufrido”.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/deportes/noti2.jpg" alt="Noticia 2">
                <h3>Luis Segovia firma con Botafogo por tres temporadas</h3>
                <p>En su primera experiencia internacional, el zaguero central ecuatoriano Luis Segovia es el flamante fichaje del Botafogo, cuadro al que llegó como agente libre para firmar un contrato por las siguientes tres temporadas.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/deportes/noti3.jpg" alt="Noticia 3">
                <h3>Con Aljamain Sterling lesionado, Chito Vera apunta a pelea por título interino de peso gallo de UFC</h3>
                <p>El campeón de la división peso gallo de UFC, Aljamain Sterling, acaba de comunicar que está lidiando con un bíceps desgarrado, por lo que necesitará un tiempo para recuperarse y luego para ponerse en forma antes de pensar en exponer el título nuevamente.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/deportes/noti4.jpg" alt="Noticia 4">
                <h3>Richard Carapaz retoma trabajos tras operación de amígdalas</h3>
                <p>El equipo estadounidense EF Education-EasyPost, al que refuerza Richard Carapaz desde este 2023, informó de la intervención quirúrgica a la que fue sometido el carchense, luego de la cual empezó de forma paulatina a retomar sus trabajos de cara al calendario UCI WorldTour.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}