{% extends "core/base.html" %}

{% block title %}Inicio{%  endblock %}

<!-- Contenido -->
{% block content %}    
        
    <div class="container">
        <!-- SHOWCASE -->
        <header class="showcase">
            <h2>Un nuevo tren de olas fuertes se pronostica para el 15 de enero en la costa ecuatoriana</h2>
            <p>Un nuevo tren de olas, de similares características a las que se registran en estos días, se prevé que arriben a partir del 15 de enero al país.</p>
            <a href="#" class="btn">Leer Más <i class="fas fa-angle-double-right"></i></a>
        </header>
        
        <!-- Noticias -->
        <div class="noticias">
            <div>
                <img src="../static/core/img/inicio/noti1.jpg" alt="Noticia 1">
                <h3>Gasolina súper baja 17 centavos, Petroecuador establece precio sugerido en $ 3,98 por galón</h3>
                <p>Petroecuador informó que a partir de las 00:00 de este 12 de enero, el precio de venta al público referencial sugerido para la gasolina súper prémium de 95 octanos en las estaciones propias y afiliadas a esta comercializadora será de $ 3,98 por galón, mientras que la ecoplús 89</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/inicio/noti2.jpg" alt="Noticia 2">
                <h3>Así se reducirán los impuestos a salida de capitales, a consumos especiales y el IVA</h3>
                <p>El anuncio del presidente Guillermo Lasso de bajar impuestos se concretó con la emisión de tres decretos ejecutivos el mismo 10 de enero del 2023. En ellos se detallan cuándo y cuánto será la reducción en los impuestos a la salida de divisas (ISD), al valor agregado (IVA) y a consumos especiales (ICE).</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/inicio/noti3.jpg" alt="Noticia 3">
                <h3>Los precios de vehículos se incrementarán por segundo año consecutivo en 2023, dice gremio automotor</h3>
                <p>Los precios de venta al público de los autos en 2023 en Ecuador podrían registrar un incremento general del 3 %, debido al comportamiento de la economía global. La inflación, los costos de producción, que tienen que ver con la energía, los costos logísticos, desembocan en el incremento general.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/inicio/noti4.jpg" alt="Noticia 4">
                <h3>La sed por el oro ahora afecta al Parque Nacional Podocarpus en Ecuador; detectan túneles subterráneos y campamentos de minería ilegal</h3>
                <p>Al menos 222 campamentos mineros han sido detectados, a través de mapas satelitales, dentro del Parque Nacional Podocarpus, ubicado entre las provincias de Loja y Zamora Chinchipe.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}