{% extends "core/base.html" %}

{% block title %}Insolitos{%  endblock %}

<!-- Contenido -->
{% block content %}
    
    <div class="container">
        <!-- SHOWCASE -->
        <header class="showcaseInso">
            <h2>Abandonó a su esposa y manejó 160 km sin notarlo</h2>
            <p>Un hombre en Tailandia abandonó accidentalmente a su esposa al costado de la carretera y condujo 160 km creyendo sin notarlo.</p>
            <a href="#" class="btn">Leer Más <i class="fas fa-angle-double-right"></i></a>
        </header>

        <!-- Noticias -->
        <div class="noticias">
            <div>
                <img src="../static/core/img/insolitos/noti1.jpg" alt="Noticia 1">
                <h3>Ben Affleck, ¿ahora es vendedor de donas? Así se prepara el actor para un comercial del Super Bowl</h3>
                <p>Durante los meses de mayor aislamiento de la pandemia por el coronavirus, más de una vez fue divisado recibiendo en su domicilio órdenes de donas acompañadas de variedades de café</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/insolitos/noti2.jpg" alt="Noticia 2">
                <h3>Da a luz en un potrero ante la lejanía de un hospital</h3>
                <p>Una  mujer dio a luz en medio de un potrero, rodeada de vacas y varias vecinas que le ayudaron. El alumbramiento se dio en el municipio de Achí, en el sur de Bolívar, en Colombia.
                Medios locales indicaron que la madre de familia no tuvo otra opción porque en su población no hay un centro de salud.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/insolitos/noti3.jpg" alt="Noticia 3">
                <h3>Consultar mucho las redes puede producir cambios en el cerebro adolescente</h3>
                <p>El uso de las redes sociales, en concreto consultarlas con frecuencia durante los primeros años de la adolescencia, puede estar asociado a cambios.
                Los cambios se refieren en la sensibilidad del cerebro a las recompensas y los castigos sociales.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/insolitos/noti4.jpg" alt="Noticia 4">
                <h3>Influencer se arrepiente de tatuarse el nombre 'Messi'</h3>
                <p>El influencer colombiano, Mike Jambs, se hizo tres tatuajes y ahora está arrepentido. Todos fueron en la cara, uno de ellos e incluso se ve a metros.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}