{% extends "core/base.html" %}

{% block title %}Populares{%  endblock %}

<!-- Contenido -->
{% block content %}
    
    <div class="container">
        <!-- SHOWCASE -->
        <header class="showcasePopu">
            <h2>La red social TikTok se adentra en la televisión con un acuerdo con Vevo</h2>
            <p>La red social TikTok y la plataforma de videos musicales Vevo 
            anunciaron este jueves que unirán fuerzas con el programa semanal “Tendencias en TikTok“.</p>
            <a href="#" class="btn">Leer Más <i class="fas fa-angle-double-right"></i></a>
        </header>

        <!-- Noticias -->
        <div class="noticias">
            <div>
                <img src="../static/core/img/populares/noti2.jpg" alt="Noticia 1">
                <h3>Síndrome de Dress, una afección con síntomas y efectos tardíos</h3>
                <p>Ronchas rojas en el pecho, espalda, manos, piernas y brazos de Lourdes, sin una razón aparente, hizo que no le prestara la debida atención al Síndrome de Dress.
                Ella pensó que ‘solo se pasará’.
                Y, no fue hasta que a este cuadro se le sumó fiebre alta, con vómito, para que ella acudiera de emergencia al hospital, con un diagnóstico poco usual, Síndrome de Dress.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/populares/noti3.jpg" alt="Noticia 2">
                <h3>Las mejores formas de invertir tu décimo navideño</h3>
                <p>Sin importar el valor del décimo tercer sueldo o décimo navideño, sí es posible obtener rendimiento de este dinero extra cuando se lo invierte de manera correcta.
                Generalmente, las personas derrochan estos recursos en las compras navideñas, que en muchos casos son innecesarias, advierten los especialistas.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/populares/noti4.jpg" alt="Noticia 3">
                <h3>Consejos para amar el ejercicio desde enero</h3>
                <p>Amar el ejercicio, practicar un deporte o una actividad física para mantenerse en buena forma, es uno de los propósitos más frecuentes para el nuevo año.
                Y puede ser agradable en vez de un calvario, según los expertos en entrenamiento en gimnasio.
                </p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/populares/noti5.jpg" alt="Noticia 5">
                <h3>NotCo, empresa de tecnología de alimentos, impulsa nueva plataforma</h3>
                <p>NotCo, empresa chilena líder en tecnología de alimentos, acelerará la creación de la nueva unidad de negocios, denominada NotCo B2B.
                De la mano de Princeville Capital, fondo de inversión norteamericano con foco en proyectos sustentables, recaudó más de 70 millones de dólares para desarrollar su incipiente Unidad B2B
                </p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}