{% extends "core/base.html" %}

{% block title %}Internacionales{%  endblock %}

<!-- Contenido -->
{% block content %}
    
    <div class="container">
        <!-- SHOWCASE -->
        <header class="showcaseInter">
            <h2>Dos de cada tres glaciares habrán desaparecido a final de siglo</h2>
            <p>Un estudio sobre el impacto del cambio climático en los glaciares, avisa de que, incluso en los escenarios más optimistas, los glaciares de montaña perderán masa.</p>
            <a href="#" class="btn">Leer Más <i class="fas fa-angle-double-right"></i></a>
        </header>

        <!-- Noticias -->
        <div class="noticias">
            <div>
                <img src="../static/core/img/internacionales/noti2.jpg" alt="Noticia 1">
                <h3>Combates entre ELN y disidencias de la FARC dejan al menos 10 fallecidos en Colombia</h3>
                <p>En las últimas horas se han registrado enfrentamientos entre el Ejército de Liberación Nacional (ELN) y las disidencias de las FARC en un departamento cerca de la frontera entre Colombia y Venezuela.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/internacionales/noti3.jpg" alt="Noticia 2">
                <h3>Nueva York seguirá prohibiendo el porte de armas en lugares sensibles</h3>
                <p>El estado de Nueva York podrá seguir prohibiendo el porte de armas en lugares vulnerables, como escuelas y espacios públicos, luego de que la Corte Suprema rechazara una petición de congelar las prohibiciones en función de la ubicación.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/internacionales/noti4.jpg" alt="Noticia 3">
                <h3>NASA detectó planeta de tamaño de la Tierra que podría tener agua líquida en su superficie</h3>
                <p>Un planeta rocoso del tamaño de la Tierra que podría ser habitable ha sido avistado a 100 años luz. Fue descubierto por la nave espacial de búsqueda de planetas TESS de la NASA y se le ha dado el nombre de TOI 700 e.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="../static/core/img/internacionales/noti5.jpg" alt="Noticia 4">
                <h3>Redoblan seguridad en Brasilia ante anuncio de marchas de seguidores de Jair Bolsonaro</h3>
                <p>El gobierno de Luiz Inácio Lula da Silva dispuso reforzar la seguridad en Brasilia ante el anuncio de seguidores del exmandatario Jair Bolsonaro de realizar otra marcha hacia los edificios oficiales.</p>
                <a href="#">Leer Más <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}